<div class="card user-form p-3">
  <button type="button" class="btn-close close-icon" (click)="onClose()"></button>

  <!-- Country Input -->

  <div class="mb-4">
    <label for="country" class="form-label">Country</label>
    <input
      type="text"
      class="form-control"
      id="country"
      list="countries"
      placeholder="Enter country"
      appValidationMessage="Please provide a correct Country"
      [formControl]="internalForm.controls.country"
      (blur)="internalForm.controls.country.updateValueAndValidity()"
    >

    <!-- Options for autosuggest list -->

    <datalist *ngIf="filteredOptions.length" id="countries">
      <option *ngFor="let country of filteredOptions" [value]="country">
        {{ country }}
      </option>
    </datalist>
  </div>

  <!-- Username input -->

  <div class="mb-4">
    <label for="username" class="form-label">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      placeholder="Enter username"
      appValidationMessage="Please provide a correct Username"
      [formControl]="internalForm.controls.userName"
      (blur)="internalForm.controls.userName.updateValueAndValidity()"
    >
  </div>

    <!-- Birthday input -->

  <div class="mb-4">
    <label for="birthday" class="form-label">Birthday</label>
    <input
      #dateInput
      type="date"
      class="form-control"
      id="birthday"
      placeholder="dd.mm.yyyy"
      appValidationMessage="Please provide a correct Date"
      [min]="dateRange.min"
      [max]="dateRange.max"
      [formControl]="internalForm.controls.birthday"
      (blur)="internalForm.controls.birthday.updateValueAndValidity()"
    >
  </div>
</div>
