<div class="card p-3" style="width: 18rem;">
  <i class="bi bi-x close-icon fs-6"></i>

  <div class="mb-3">
    <label for="country" class="form-label">Country</label>
    <input type="email" class="form-control" id="country">
  </div>

  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="password" class="form-control" id="username">
  </div>

  <div class="mb-3">
    <label for="birthday" class="form-label">Birthday</label>
    <input type="password" class="form-control" id="birthday">
  </div>
</div>





